body {
  background-color: darkblue;
}

.Konteiner {
  padding: 20px;
  min-width: 80%;
  min-height: 500px;
  background-color: white;
  margin: 30px;
}

.postitused_loetelu {
  display: flex;
  flex-wrap: wrap;
}

.postitus {
  width: 200px;
  background-color: bisque;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.postituse_pilt {
  max-width: 100%;
}